.listContnet{
    text-transform: capitalize;
}
.navbar-inverse {
     background-image: linear-gradient(to bottom,#EEE048 0,#EEE048 100%) !important;
  border:none;  
}
.hambImg{
    position:fixed;
    color:#146eb4;
}
.contactTxt{
    font-size: 35px;
}
.navDiv{
    border-bottom: 1px solid #146eb4;
    border-right: 1px solid #146eb4;
 text-align:center;
 text-transform:capitalize;
}
#spanText{
    margin-left:20%;
}
#hambImg{
    position:fixed;
}
/*navigation menu*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: rgb(0,0,0);*/
    background-color: #146eb4;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-left:5%;
}
.list-overlay{
    margin-left: 15px;
    font-size: 16px;
}
.overlay a {
    padding-right: 0px;
    text-decoration: none;
    font-size: 16px;
    color: #EEE048;
    display: block;
    transition: 0.3s;
    line-height:50px;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.iconSize{
    font-size:20px;
}
.navbarStyle{
    margin-bottom:0px !important;
}


/*banner style starts*/
.banner{
    background: url(banner1.jpg) no-repeat 0px 0px;
    background-size: cover;
	min-height:770px;
}
.name{
    margin-top: 3.85em;
    margin-right: 0px;
    margin-bottom: 0em;
    margin-left: 0px;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.8);
    letter-spacing: 2px;
}
.subcontent{
    color: #fff;
    margin: 1em 0;
    letter-spacing: 0px;
    font-size: 25px;
    }
.subcontent span{
    color:#000;
    white-space: nowrap;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rotatingWord{display: inline;
	text-indent: 10px;}
.rotatingWord span{
	position: absolute;
	opacity: 0;
	color: #146eb4;
	-webkit-transform-origin: 10% 75%;
	transform-origin: 10% 75%;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rotatingWord span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #146eb4;
}
.rotatingWord span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #146eb4;	
}
.rotatingWord span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #146eb4;
}
.rotatingWord span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #146eb4;
}
.rotatingWord span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #146eb4;
}
/*new animation called roateword creation code starts here*/

@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -ms-transform: rotate(0deg); }
	19% { opacity: 1; -ms-transform: rotate(98deg); }
	21% { opacity: 1; -ms-transform: rotate(86deg); }
	23% { opacity: 1; -ms-transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -ms-transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(98deg); transform: rotate(98deg); }
	21% { opacity: 1; -webkit-transform: rotate(86deg); transform: rotate(86deg); }
	23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

.socialIcons{
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 1em 0 0;
}
.socialIcons li {
    display: inline-block;
    margin: 0 6px;
}
ul.socialIcons {
        list-style-type: none;
    }
    ul.socialIcons li {
        padding: 5px;
        font-size: 16px;
        background:transparent;
        /*font-family: "Trebuchet MS", Arial, sans-serif;*/
    }
    ul.socialIcons li a {
        height: 50px;
        line-height: 50px;
        display: inline-block;
        padding-left: 12px; /* To sift text off the background-image */
        /*color: #3E789F;*/
        background: url("sprite.png") no-repeat; /* As all link share the same background-image */
    }
    ul.socialIcons li.facebook a {
       /* background-position: 0 0;*/
       background-position: -47px -28px; 
width: 54px;
height: 54px;
    }
    ul.socialIcons li.twitter a {
        /*background-position: 0 -100px;*/
        background-position: -410px -30px; 
width: 58px;
height: 52px;
    }
    ul.socialIcons li.instagram a {
      /*  background-position: 0 -200px;*/
      background-position: -230px -28px; 
width: 55px;
height: 56px;
    }
    ul.socialIcons li.linkedin a {
        /*background-position: 0 -300px;*/
        background-position: -167px -26px; 
width: 58px;
height: 58px;
    }
   
    ul.socialIcons li.facebook a:hover {
        /*background-position: 0 -50px;*/
      background-position: -45px -94px; 
width: 60px;
height: 59px;
transition:ease-out .5s;
    }
    ul.socialIcons li.twitter a:hover {
       /* background-position: 0 -150px;*/
       background-position: -411px -94px; 
width: 57px;
height: 58px;
transition:ease-out .5s;
    }
    ul.socialIcons li.instagram a:hover {
        /*background-position: 0 -250px;*/
      background-position: -231px -97px; 
width: 53px;
height: 53px;
transition:ease-out .5s;
    }
    ul.socialIcons li.linkedin a:hover {
        /*background-position: 0 -350px;*/
       background-position: -168px -95px; 
width: 56px;
height: 55px;
transition:ease-out .5s;
    }
/*banner style ends here*/

/*about style starts here*/
.descDiv{
    margin-top:2%;
}
h3.caption{
    
    text-align: center;
    font-size: 40px;
    color: #7d3f98;
    border-bottom: 1px dotted #7d3f98;
    width: 19%;
    margin: 0 auto 1em;
    text-transform: uppercase;
    
}
.profileImg{
    /*background: url(banner1.jpg) no-repeat 0px 0px;
    background-size: cover;
	min-height:770px;*/
    vertical-align:middle;
    width: 100%;
}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #ff9900 !important;
}
ul{
    list-style-type: none;
    line-height: 2.5;
    padding-left: 15px;
}
.carousel-indicators {
  position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
        bottom:-80px !important;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
}
.carousel-inner {
   margin-bottom:50px;
}
#dob{
padding-left:100px;
}
#mobno{
padding-left:90px;
}
#exp{
padding-left:50px;
}
#addr{
padding-left:72px;
}
#mail{
padding-left:90px;
}
#site{
padding-left:75px;
}
h3.headline{
   font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #146eb4;
    margin-bottom: .5em;
}
.infoBtn{
    background-color:#146eb4;
    color:#fff;
    border:1px solid #146eb4;
    /*border-color: #146eb4;*/
    padding:2%;
    font-weight:bold;
}
button.infoBtn:hover{
    background-color:#ff9900;
    border:1px solid #ff9900;
}
.expDesc{
    text-transform: capitalize;
    color: #252323;
    margin-bottom: 1em;
}
p.content{
line-height: 15px;
    color: #212121;
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 1em;
    padding-bottom: 1em;
    /*border-top: 1px dotted #646464;
    border-bottom: 1px dotted #646464;*/
}

h3.caption1{
    
    text-align: center;
    font-size: 40px;
    color: #7d3f98;
    border-bottom: 1px dotted #7d3f98;
    width: 12%;
   margin: 0 auto 1em;
    text-transform: uppercase;
    margin-top: 4%;
    }
p.skillDesc{
    font-size: 14px;
    color: #353535;
    letter-spacing: .5px;
    line-height: 28px;
}
h2.skillhead{
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: bold;
}
h4.skillsubhead{
    color: #353535;
    letter-spacing: -0.5px;
    line-height: 28px;
    font-weight: bold;
}
p.descskills{
    font-size: 14px;
    color: #4a4a4a;
    letter-spacing: .1px;
    line-height: 28px;
    margin: 1em 0;
}
.skills{
    text-align:justify;
}
/*progress bar css starts here*/
.progress {
    background: rgba(255, 255, 255, 1); 
    border: 0px solid rgba(255, 255, 255, 1); 
    border-radius: 0px; 
    height: 10px !important;
    -webkit-transition: width 0.8s ease-in-out;
          transition: width 0.8s ease-in-out;
    }
.progress-bar-custom {background: rgba(49, 168, 83, 1) !important;-webkit-transition: width 0.8s ease-in-out;
          transition: width 0.8s ease-in-out; }

.progress-bar-custom1 {background: rgba(245, 35, 105, 1) !important;-webkit-transition: width 0.8s ease-in-out;
          transition: width 0.8s ease-in-out;}


.progress-bar-custom3 {background: rgba(35, 210, 219, 1) !important;-webkit-transition: width 0.8s ease-in-out;
          transition: width 0.8s ease-in-out;}
p.label{
    color: #000;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight:initial;
}
.min-value{
    color: #000;
    font-size: 20px;
    line-height: 0;
    text-transform: uppercase;
    margin-bottom: 3%;
    font-weight:initial;
}
.max-value{
    margin-left: 90%;
}
.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}
h2.portheading{
       text-align: center;
    font-size: 40px;
    color: #7d3f98;
    border-bottom: 1px dotted #7d3f98;
    width: 16%;
    margin: 0 auto 1em;
    text-transform: uppercase;
    margin-top: 3%;
}
.portfolio{
    /*width: 1024px;
  max-width: 100%;
  margin: auto;
  display: block;
  text-align: center;*/
  /*margin-right: 4px !important;*/
    margin-left: 30px !important;
}
.portfolio1{
       margin-left: 34px !important;
    margin-right: 0px !important;
    margin-top: 3% !important;
}
.portfolio2{
       margin-left: 34px !important;
    margin-right: 0px !important;
    margin-top: 3% !important;
}
figure{
 width: 410px;
    height: 250px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ddd;
  margin: 1em;
}

/*figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #2c3e50;
  text-transform: uppercase;
}

figcaption div:after{
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #2c3e50;
}*/

figure img{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

/*figure:hover figcaption{
 background: rgba(255,255,255,0.3);
}*/

figcaption:hover div{
  opacity: 1;
  top: 0;
}

figcaption:hover div:after{
  width: 50%;
}

figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}
.eduDetails{
    margin-top:5%;
}
h2.eduHeading{
    text-align: center;
    font-size: 40px;
    color: #7d3f98;
    border-bottom: 1px dotted #7d3f98;
    width: 22%;
    margin: 0 auto 1em;
    text-transform: uppercase;
    margin-top: 3%;
}

.education{
    /*border:1px solid #ccc;*/
    /*box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    padding:2em;*/
}
.education{
    border:1px solid #ccc;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    padding:2em;
}
.eduTitle{
    color: #146eb4;
    text-transform: capitalize;
    margin-bottom: .5em;
    font-size: 24px;
}
.education p{
    font-size: 14.5px;
    color: #4a4a4a;
    letter-spacing: .5px;
    line-height: 28px;
    margin: 1em 0 0;
}
.education h4{
    color: #272727;
    margin-top: 1em;
    font-size: 20px;
}
.education b{
    color: #7d3f98;
}
.educSep1{
    margin-bottom:3%;
    /*margin-right:1%;*/
}
.education:hover{
   -webkit-box-shadow: 0px 1px 16px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 16px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 16px 3px rgba(0,0,0,0.75);
}